body{
    margin: 0px 100px 50px 100px;
    overflow: scroll;
    background: linear-gradient(35deg,  rgb(66, 51, 51),#1d1d1d); 
}

/* HEADER */
.wrapper{
    justify-content: center;
    align-items:center;
    height: 100vh;
    display: flex;
}

.title{
    background-image: url(../images/colorful.jpg);
    background-attachment: fixed;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: transparent;
    max-width: 100%;
    font-size: 80px;
    text-align: start;  
}

ul{
    display: flex;
    justify-content: flex-end;
}

.ancre{
    margin: 10px;
    font-size: 25px;
    color: white;
}

.link{
    list-style-type: none ;
}

.ancre:hover{
    color:#FFCCCC;
}

.link:hover{
    transform: scale(1.1);
}
/* HEADER */

/* SECTION FLEX CONTAINER */
.flex-container{
    display: inline-flex;
    align-items: center;
}
.picture1{
    width:300px;
    height: auto;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 25px;
    transform: skewX(14deg);
    box-shadow: 25px 10px 0px rgba(241, 145, 241, 0.609);
}

.prez{
    flex-direction: row;
    text-align: start;
    z-index: 1;
    font-size: 35px;
    color: whitesmoke;
}

#uppercase{
    text-transform: capitalize;
}
/* SECTION FLEX CONTAINER */


/* SECTION FLEX SKILL */
.codes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.framework{
    display: flex;
    flex-direction: column;
}

.flex-skill{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
}

/* SECTION FLEX SKILL */

/* SKILLS BAR */
.progress{
    background-color: #d8d8d8;
    border-radius :20px;
    height: 30px;
    width: 300px;
}
  
.progress-done{
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C ;
    border-radius: 20px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 0;
    transition: 1s ease;
}

/* section{
    cursor: context-menu;
} */

h2{
    color: whitesmoke;
}

li{
    color: whitesmoke;
}
  /* SKILLS BAR */

/* SECTION PROJECTS */
/* .card1{
    width: 100px;
    height: 300px;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    border: 1px solid black;
    border-radius:25px;
    margin-top: 50px;
    flex:50%;
    margin-right: 5px;
} */

.card2{
    width: 100px;
    height: 300px;
    /* background: linear-gradient(35deg, #CCFFFF, #FFCCCC); */
    background-color: #FFCCCC;
    border: 1px solid black;
    border-radius:25px;
    /* margin-top: 50px; */
    flex:50%;
}

.flex-work{
    display: flex;
    margin-bottom: 50px;
}

.projet, h3{
    text-align: center;
}

.separate{
    width: auto;
    height: 5px;
    background: whitesmoke;
}

h3{
    text-transform: uppercase;
}

.melpassion{
    max-width: 200px;
    height: auto;
    box-shadow: 10px 5px 5px black;
}

.image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.image:hover{
    transform: scale(1.1);
}
/* SECTION PROJECTS */

article{
    padding-top : 50px;
}


.opquast{
    color:white;
}

.formation{
    font-size: 20px;
    color: white;
}

footer, .linkedin{
    color: white;
    text-align: center;
    font-size: 25px;
}

.btnColor{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 
    .wrapper{
        display: flex;
        height : 30vh;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 20px;
        text-align: center;
    }
    .title{
        background-image: url(../images/colorful.jpg);
        background-attachment: fixed;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: transparent;
        max-width: 50%;
        font-size: 30px;
        text-align: start;  
    }
    body{
        margin: auto;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .picture{
        display: none;
    }
    .flex-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prez{
        font-size: 20px;
        text-align: center;
    }
    h2{
        color: whitesmoke;
        text-align: center;
        font-size: 20px;
    }
    .projet{
        font-size: 15px;
    }
    .ancre{
        font-size: 15px;
    }
    .btnColor{
        display: none;
    }
    footer{
        font-size: 20px;
    }
    .flex-container{
        display: inline flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .picture{
        display: none;
    }
    .flex-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projet{
        font-size: 14px;
    }
    .image:hover{
        transform:none
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .wrapper{
        justify-content: center;
        align-items:center;
        height: 100vh;
        display: flex;
    }
    .title{
        background-image: url(../images/colorful.jpg);
        background-attachment: fixed;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: transparent;
        max-width: 100%;
        font-size: 80px;
        text-align: start;  
    }
    h1{
        font-size: 25px;
        text-align: center;
    }
    .ancre{
        font-size: 25px;
    }
    .prez{
        font-size: 25px;
    }
    footer{
        font-size: 25px;
        text-align: center;
    }
    .formation{
        text-align: center;
    }
    body{
        margin: 0px 100px 50px 100px;
    }
    .btnColor{
        display: flex;
    }
    .image:hover{
        transform: scale(1.1);
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
     .wrapper{
        justify-content: center;
        align-items:center;
        height: 100vh;
        display: flex;
    }
    .title{
        background-image: url(../images/colorful.jpg);
        background-attachment: fixed;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: transparent;
        max-width: 100%;
        font-size: 80px;
        text-align: start;  
    }
    .ancre{
        font-size: 25px;
    }
    .prez{
        font-size: 35px;
        text-align: start;
    }
    .picture{
        display: flex;
    }
    .flex-container{
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .flex-skill{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    footer{
        font-size: 25px;
        text-align: center;
    }
    .formation{
        text-align: center;
    }
    body{
        margin: 0px 100px 50px 100px;
    }
    .btnColor{
        display: flex;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }